<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->

<ul>
  <li>
    <p>Type: {{animalType}}</p>
    <p> Pet: {{pet}}</p>
    <p> Fierceness: {{Fierceness}}</p>
  </li>
</ul>